.card{
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    height: 370px;
    border-radius: 15px;
    border: 2px solid rgb(190, 171, 147);
    transform: scale(0.7);
}

.imagens{
    display: flex;
    justify-content: center;
}

.img-carro{
    background-color:coral;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-carro img{
    width: 96px;
}

.excluir{
    background-color: rgb(216, 0, 0);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -35px;
}

.excluir img{
    color: white;
}

.vendido{
    background-color: rgb(216, 0, 0);
    width: 250px;
    color: white;
    text-align: center;
}


button:hover{
    border-style: none;
}

button:active{
    border-color: red;
}

p{
    color: black;
    margin-top: -10px;
}